<%= form_with(model: itinerary, local: true, class: 'form') do |form| %>
  <% if itinerary.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(itinerary.errors.count, "error") %> prohibited this itinerary from being saved:</h2>

      <ul>
        <% itinerary.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="mb-3">
    <%= form.submit 'Submit', class: 'btn btn-primary' %>
  </div>
<% end %>