<h1>Itineraries</h1>

<%= link_to "New itinerary", new_itinerary_path, class: 'btn btn-primary mb-4' %>

<div class="container mt-4">
  <div class="row">
    <% @itineraries.each_with_index do |itinerary, index| %>
      <div class="col-12 mb-4">
        <%= link_to itinerary_path(itinerary), class: 'card-link' do %>
          <div class="card w-100" style="background-color: <%= generate_light_color(index) %>;">
            <div class="card-body d-flex justify-content-between align-items-center">
              <div>
                <h5 class="card-title mb-0"><%= itinerary.name %></h5>
              </div>
              <div class="d-flex flex-column align-items-end">
                <small class="text-muted">Start Date: <%= itinerary.start_date.strftime('%B %d, %Y') %></small>
                <small class="text-muted">End Date: <%= itinerary.end_date.strftime('%B %d, %Y') %></small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>