<div id="<%= dom_id flight %>">
  <p>
    <strong>Flight number:</strong>
    <%= flight.flight_number %>
  </p>

  <p>
    <strong>Departure time:</strong>
    <%= flight.departure_time %>
  </p>

  <p>
    <strong>Arrival time:</strong>
    <%= flight.arrival_time %>
  </p>

  <p>
    <strong>Origin:</strong>
    <%= flight.origin %>
  </p>

  <p>
    <strong>Destination:</strong>
    <%= flight.destination %>
  </p>

</div>
