<%= form_with(model: [ @itinerary, @flight ]) do |form| %>
  <% if @flight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flight.errors.count, "error") %> prohibited this flight from being saved:</h2>

      <ul>
        <% @flight.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :departure_time %>
    <%= form.text_field :departure_time %>
  </div>

  <div class="field">
    <%= form.label :arrival_time %>
    <%= form.text_field :arrival_time %>
  </div>

  <div class="field">
    <%= form.label :origin %>
    <%= form.text_field :origin %>
  </div>

  <div class="field">
    <%= form.label :destination %>
    <%= form.text_field :destination %>
  </div>

  <div class="field">
    <%= form.label :flight_number %>
    <%= form.text_field :flight_number %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>