<!DOCTYPE html>
<html>
<head>
  <title>RailsTravelLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <%= render "/shared/navbar" %>

  <% if notice %>
    <div id="notice-wrapper">
      <p style="color: green"><%= notice %></p>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          document.getElementById('notice-wrapper').style.display = 'none';
        }, 1500);
      });
    </script>
  <% end %>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>