<!DOCTYPE html>
<html>
<head>
  <title>RailsTravelLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to 'RailsTravelLogger', root_path, class: 'navbar-brand' %>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to 'Itineraries', itineraries_path, class: 'nav-link' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
            </li>
            <li class="nav-item">
              <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
            </li>
          <% end %>
        </ul>
        <% if user_signed_in? %>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Profile
              </a>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><%= link_to 'Edit Profile', edit_user_registration_path, class: 'dropdown-item' %></li>
                <li><%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %></li>
              </ul>
            </li>
          </ul>
        <% end %>
      </div>
    </div>
  </nav>

  <% if notice %>
    <div id="notice-wrapper">
      <p style="color: green"><%= notice %></p>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        setTimeout(function() {
          document.getElementById('notice-wrapper').style.display = 'none';
        }, 1500);
      });
    </script>
  <% end %>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>