<!DOCTYPE html>
<html>
<head>
  <title>RailsTravelLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags %>
</head>

<body>
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to 'RailsTravelLogger', root_path, class: 'navbar-brand' %>
      <div class="d-flex">
        <% if user_signed_in? %>
          <span class="nav-item nav-link">
            <%= link_to 'Profile', edit_user_registration_path %>
          </span>
          <span class="nav-item nav-link">
            <%= link_to 'Itineraries', itineraries_path %>
          </span>
          <span class="nav-item">
            <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: "btn-primary" %>
          </span>
        <% else %>
          <li class="nav-item">
            <%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'Login', new_user_session_path, class: 'nav-link' %>
          </li>
        <% end %>
      </div>
    </div>
  </nav>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>