<!DOCTYPE html>
<html>
<head>
  <title>RailsTravelLogger</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_importmap_tags %>

  <!-- Mapbox GL CSS -->
  <link href="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.css" rel="stylesheet">
  <!-- Mapbox GL JS -->
  <script src="https://api.mapbox.com/mapbox-gl-js/v3.0.1/mapbox-gl.js"></script>
</head>

<body class="gradient-custom">
  <%= render "/shared/navbar/navbar" %>

  <%= render "/shared/notice" %>

  <div class="container mt-4">
    <%= yield %>
  </div>
</body>
</html>